@import 'media';

// Код для примера
p {
    margin: 0;
}
body {
    background: #fff;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container {
    width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
.shop-logo {
    width: 105px;
    float: left;
    padding-top: 15px;
}
.oggetto-logo {
    width: 50px;
    display: inline-block;
    &__img {
        width: 100%;
    }
}
.header__number {
    float: right;
    color: #cc0000;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 15px;
}
.nav {
    background-color: #f2f2ed;
    padding-top: 8px;
    padding-bottom: 8px;;
}
.nav__list {
    color: #cc0000;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    float: left;

}
.search-form {
    float: right;
}
.search-form__field {
    background-image: url(../img/search.svg);
    background-position: 10px 12px;
    background: url(../img/search.svg) no-repeat;
    background-position: 200px 0px;
    background-size: contain;
    background-color: #fff;
    outline-color: #d9d9d4;
    padding-right: 25px;
    border-color: #d9d9d4;
}
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background: red; // red on small devices

    @media @tablet {
        background: green; // green on medium devices
    }

    @media @desktop {
        background: blue; // blue on large devices
    }

    &__item {
        display: inline-block;
        list-style-type: none;
    }

    &__link {
        color: #FFF;
    }

    // Bottom Menu
    &_bottom { // BEM modifier example
        background: green;
    }

    &_bottom &__link {
        color: #f00;
    }
}



